    <div class="content">
      <div class="inner-content">
        <div id="search-topintro">
          <div class="search-topintro-comment">
            <%= params[:q] %>
            <h2><%= params[:tag] %></h2>
            <%= search_form_for @search, url: search_index_path, :action => 'index'  do |f| %>
            <%= text_field_tag("q", params[:q], :class => "span9") %>
  　　　　　　　<%= link_to "remove", '#', class: "remove_fields" %>
              <p><%= link_to_add_fields "Add Conditions", f, :condition %></p>

            <div class="actions">
              <%= f.submit "Search" %>
            </div>
            <% end %>
  　　　　　</div>

        </div>
        <div class="search-main" role="main">

        <div class="search-sidebar">

          <tr>
            <th><%= sortable "Voice" %></th>
            <th><%= sortable "Length" %></th>
            <th><%= sortable "released_at", "Released" %></th>
          </tr>

        </div>
          <% @mixes.each do |mix| %><%# もしカテゴリーがなかった時は無視する構文を書く %>
          <article class="hentry" role="article">
            <header class="article-header">
              <p class="update-time"><%= mix.updated_at.strftime("%x") %></p>
            </header>
            <div class="entry-content">
              <%= raw mix.content %>
            </div>
            <div class="entry-meta">
              <div class="entry-category">
                <ul>
                  <% mix.tags.each do |tag| %>
                    <a href="<%= tag.tagname %>"><li class="category-btn"><%= tag.tagname %></li></a>
                  <% end %>
                </ul>
              </div>
              <% if false %>
              <div class="entry-playlist">
                <%= mix.artistname %>
              </div>
              <% end %>
            </div>
          </article>
          <% end %>

          <%= render partial: 'layouts/footer' %>

        </div>

      </div>
    </div>

