    <div class="content">
      <div class="inner-content">
        <div id="search-topintro">
          <div class="search-topintro-comment">
            <h2><%= @tags.tagname %></h2>
          </div>

        </div>
        <div class="search-main" role="main">

          <div class="search-sidebar">
          <ul>
            <li><%= sortable "voice", "声あり/なし" %></li>
            <li><%= sortable "Length", "曲の長さ" %></li>
            <li><%= sortable "Updated_at", "投稿順" %></li>
          </ul>
          </div>
          <% @tags.mixes.each do |mix| %><%# もしカテゴリーがなかった時は無視する構文を書く %>
          <article class="hentry" role="article">
            <header class="article-header">
              <p class="update-time"><%= mix.updated_at.strftime("%x") %></p>
            </header>
            <div class="entry-content">
              <%= raw mix.content %>
            </div>
            <div class="entry-meta">
              <div class="entry-category">
                <ul>
                  <% mix.tags.each do |tag| %>
                    <a href="<%= search_path(tag.id) %>"><li class="category-btn"><%= tag.tagname %></li></a>
                  <% end %>
                </ul>
              </div>
              <% if false %>
              <div class="entry-playlist">
                <%= mix.artistname %>
              </div>
              <% end %>
            </div>
          </article>
          <% end %>

          <%= render partial: 'layouts/footer' %>

        </div>

      </div>
    </div>

