    <div class="content">
      <div class="inner-content">
        <div id="search-topintro">
          <div class="search-topintro-comment">
            <h2><%= @result %></h2>
          </div>
        </div>

        <div class="search-main" role="main">
          <% @mixes.each do |mix| %><%# もしカテゴリーがなかった時は無視する構文を書く %>
          <article class="hentry" role="article">
            <header class="article-header">
              <p class="update-time"><%= mix.updated_at.strftime("%x") %></p>
            </header>
            <div class="entry-content">
              <%= raw mix.content %>
            </div>
            <div class="entry-meta">
              <div class="entry-category">
                <ul>
                  <% mix.tag_list.each do |tag| %>
                    <a href="<%= tag %>"><li class="category-btn"><%= tag %></li></a>
                  <% end %>
                </ul>
              </div>
              <% if false %>
              <div class="entry-playlist">
                <%= mix.artistname %>
              </div>
              <% end %>
            </div>
          </article>
          <% end %>

          <%= render partial: 'layouts/footer' %>

        </div>

      </div>
    </div>

