    <div class="content">
      <div class="inner-content">
        <div id="topintro">
          <img src="/assets/background.png">
          <div class="topintro-comment">
            <h2>DIG MIXX</h2>
            <h3>DISCOVER YOUR BGM</h3>
          </div>
        </div>


        <div class="main" role="main">

          <div class="search-sidebar">

          </div>
          <% @mixes.each do |mix| %><%# もしカテゴリーがなかった時は無視する構文を書く %>
          <article class="hentry" role="article">
            <header class="article-header">
              <p class="update-time"><%= mix.updated_at.strftime("%x") %></p>
            </header>
            <div class="entry-content">
              <%= raw mix.content %>
            </div>
            <div class="entry-meta">
              <div class="entry-category">
                <ul>
                  <% mix.tags.each do |tag| %>
                    <a href="search/<%= tag.tagname %>"><li class="category-btn"><%= tag.tagname %></li></a>
                  <% end %>
                </ul>
              </div>
              <% if false %>
              <div class="entry-playlist">
                <%= mix.artistname %>
              </div>
              <% end %>
            </div>
          </article>
          <% end %>

          <%= render partial: 'layouts/footer' %>

        </div>

      </div>
    </div>

